/* Classy Background with Gradient */
.App {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  text-align: center;
  min-height: 100vh; 
  background-image: linear-gradient(to right, #1a3b5d, #406e91);
  color: white;
}

/* Text Shadow for Improved Readability */
h1, h2, p {
  text-shadow: 2px 2px 4px #000000;
}

/* Header Elements */
h1 {
  color: #fff;
  cursor: pointer;
}

h2 {
  color: #ccc;
}

/* Input and Select Styling */
input[type="text"], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

/* List Styling */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 10px 0;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span {
  margin-left: 10px;
}

/* Additional Styling for Delayed Trains */
.delayed {
  color: red;
  font-weight: bold;
}

/* Button Styling */
button {
  padding: 10px 20px;
  background-color: #f39c12;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
a {
  /* ... existing styles ... */
  color: #fff; /* White text color */
}

a:hover {
  color: #ccc; /* Light gray text color on hover */
}
button:hover {
  background-color: #d87c07;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  li {
    flex-direction: column;
    text-align: left;
  }
  li span {
    margin-top: 5px;
  }
}
